header{
    color:white;
    text-align: center;
    font-family: sans-serif;
    font-size:x-large;
}
h2{
    font-family: fantasy;
    font-size:60px;
    color:white;
}
h3{
    color:white;
    font-family: fantasy;
    font-size: 40px;
}
h4{
    font-family:eb garamond;
}
body{
    font-family: sans-serif;
    font-size: large;
    color:black;
    margin:0px;
    
}
.page-header{
    height:50vh
    width: 100%;
}
.text-center {
    text-align: center;
}
#home{
    background: url() center center / cover no-repeat;
    background-attachment: fixed;
}
.container{
    width:1400px;
    height:400px;
}
.navbar ul{
    background-color:rgb(96, 54, 106);
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    display:flex;
    align-items: center;
    height:60px;
    padding:1em;
}
.navbar a{
    color:white;
    text-decoration:none;
    display:inline-block;
    text-align:center;
    padding:15px;
    position:relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
   
}
.navbar a:hover{
background-color: rgb(119, 63, 119);
}

.navbar ul li:last-child {
    margin-right:0;
}
.imgheader{
    background-image:url(../images/lisbonnight.jpeg); 
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode:normal;
    padding-top:100px;
    padding-bottom:100px;
}


  