header{
    color:white;
    text-align: center;
    font-family: sans-serif;
    font-size:x-large;
}
body{
  background:url(../images/blue-back.jpeg) center center / cover no-repeat fixed;

}
h1{
    font-family: fantasy;
    font-size:36px;
    color:white;
   
}
h2{
    font-family: fantasy;
    font-size:22px;
    color:white;
    margin-top:10px;
}
h3{
    color:rgb(15, 14, 14);
    font-family:fantasy;
    font-size:28px;
    text-align:center;   
}

#h3why{

    font-family: fantasy;
    color:rgb(13, 13, 13);
    
}
h4{
    font-family:eb garamond;
    font-size: 30px;
    font-family:cursive;
    text-align:center;
    font-size: xx-large;
}

.text-center {
    text-align: center;
}


.navbar ul{
    background-color:rgb(173, 114, 166);
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    display:flex;
    align-items: center;
    height:30px;
    padding:1em;
    margin: 0;
    font-size: 14px;
}
/*navbar styling*/

.navbar a{
    color:rgb(251, 251, 251);
    text-decoration:none;
    display:inline-block;
    text-align:center;
    padding:15px;
    position:relative;
    font-family: calibri;
   
   
}
.navbar a:hover{
background-color: rgb(173, 114, 166);
}

/*homepage styling*/

.imgHeader{
    background-image:url(../images/lisbonnight.jpeg); 
    height:330px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode:normal;
    padding-top:10px;
  
}
.whyLisbon p{
  font-size: 16px;
  text-align: center;
}

/* neighbourhood flex styling */

.alfamaContainer{
  margin: 10px auto;
  width: 90%;
  text-align: center;
}

.alfamaContent {
  display:flex;
  flex-direction: column;
}

.alfamaImage {
  flex: 0 0 auto;
  margin-right: 10px;
}
.alfamaText {
flex:1; 
}
.alfamaImage img {
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:10px;
}
.alfamaText p{
  font-size: 18px;
}
.h4{
  font-size: 25px;
}
.bairroContainer{
  margin:10px auto;
  width:90%;
  text-align: center;
}
.bairroContent{
  display:flex;
  flex-direction:column;
}

.bairroImage img{
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:15px;
}
.bairroText{
  flex:1; 
 
}
.bairroImage{
  flex: 0 0 auto;
  margin-right: 10px;
}
.bairroText p{
  font-size: 18px;
}

.h4{
  font-size: 25px;
}
.belemContainer{
  margin:10px auto;
  width:90%;
  text-align: center;
}
.belemContent{
  display:flex;
  flex-direction:column;
}
.belemImage img{
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:15px;
}
.belemText{
  flex:1;
}
.belemImage{
  flex: 0 0 auto;
  margin-right: 10px;
}
.belemText p{
  font-size: 18px;
}
.h4{
  font-size: 25px;
}
.baixaContainer{
  margin:10px auto;
  width:90%;
  text-align: center;
}
.baixaContent{
  display:flex;
  flex-direction:column;
}
.baixaImage img{
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:15px;
}
.baixaText{
  flex:1;
}
.baixaImage{
  flex: 0 0 auto;
  margin-right: 10px;
}
.baixaText p{
  font-size: 18px; 
}

.h4{
  font-size: 25px;
}
.chiadoContainer{
  margin:10px auto;
  width:90%;
  text-align: center;
}
.chiadoContent{
 display:flex; 
 flex-direction: column;
}
.chiadoImage img{
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:15px;
}
.chaidoText{
  flex:1;
}
.chiadoImage{
  flex: 0 0 auto;
  margin-right: 10px;
}
.chiadoText p{
  font-size: 18px; 
}

.h4{
  font-size: 25px;
}
  /*see&do header*/
  
  .seeHeader{
    background-image:url(../images/fado.jpeg);
    height:310px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode:normal;
    padding-top:10px;
    padding-bottom:10px;

  }
/*taste header*/

  .tasteHeader {
    background-image:url(../images/pastels.jpeg);
    height:130px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode:normal;
    padding-top:100px;
    padding-bottom:100px;
  }
  /*contact header*/

.contactHeader{
  background-image:url(../images/contactheader.jpeg);
    height:130px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode:normal;
    padding-top:100px;
    padding-bottom:100px;
}
  /*benfica flex styling*/

.benContainer{
  margin:10px auto;
  width:90%;
  text-align: center;

}
.benContent {
  display:flex;
  flex-direction: column;
}
.benImage {
 flex: 0 0 auto;
 margin-right: 10px;
}
.benText {
flex:1; 
}
.benImage img {
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:15px;
}
.benText p{
  font-size: 18px;
}
.h4{
  font-size: 25px;
}
/*fado flex styling*/

.fadoContainer{
  margin:10px auto;
  width:90%;
  text-align: center;
}
.fadoContent{
  display:flex;
  flex-direction: column;
}
.fadoImage{
  flex: 0 0 auto;
  margin-right: 10px;
}
.fadoText{
  flex:1;
}
.fadoImage img{
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:15px;
}
.fadoText p{
  font-size:18px;
}
.h4{
  font-size: 25px;
}
/*belem flex styling*/

.belContainer{
  margin:10px auto;
  width:90%;
  text-align: center;
}
.belContent{
  display:flex;
  flex-direction: column;
}
.belImage{
  flex: 0 0 auto;
  margin-right: 10px;
}
.belText{
  flex:1;
}
.belImage img{
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:15px;
}
.belText p{
  font-size:18px;
}
.h4{
  font-size: 25px;
}
/*jeronimo flex styling*/

.jerContainer{
  margin:10px auto;
  width:90%;
  text-align: center;
}
.jerContent{
  display:flex;
  flex-direction: column;
}
.jerImage{
  flex: 0 0 auto;
  margin-right: 10px;
}
.jerText{
  flex:1;
}
.jerImage img{
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:15px;
}
.jerText p{
  font-size: 18px;
}
h4{
  font-size: 25px;
}
/*gloria elevador flex styling*/

.gloriaContainer{
  margin:10px auto;
  width:90%;
  text-align: center;
}
.gloriaContent{
  display:flex;
  flex-direction: column;
}
.gloriaImage{
  flex: 0 0 auto;
  margin-right: 10px;
}
.gloriaText{
  flex:1;
}
.gloriaImage img{
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:15px;
}
.gloriaText p{
  font-size:18px;
}
.h4{
  font-size: 25px;
}

/*taste styling*/


/*pasteis flex styling*/

.pasteisContainer{
  margin:10px auto;
  width:90%;
  text-align: center;
}
.pasteisContent{
  display:flex;
  flex-direction: column;
}
.pasteisImage{
  flex: 0 0 auto;
  margin-right: 10px;
}
.pasteisText{
  flex:1;
}
.pasteisImage img{
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:15px;
}
.pasteisText p{
  font-size: 18px;
}
.h4{
  font-size: 25px;
}

/*timeout flex styling*/

.timeContainer{
  margin:10px auto;
  width:90%;
  text-align: center;

}
.timeContent{
  display:flex;
  flex-direction: column;
}
.timeImage{
  flex: 0 0 auto;
  margin-right: 10px;
}
.timeText{
  flex:1;
}
.timeImage img{
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:15px;
}
.timeText p{
  font-size:18px;
}
.h4{
  font-size: 25px;
}
/*mercado flexbox styling*/

.mercadoContainer{
  margin:10px auto;
  width:90%;
  text-align: center;
}
.mercadoContent{
  display:flex;
  flex-direction: column;
}
.mercaodoImage{
  flex: 0 0 auto;
  margin-right: 15px;
}
.mercadoText{
  flex:1;
}
.mercadoImage img{
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:15px;
}
.mercadoText p{
  font-size: 18px;
}
.h4{
  font-size: 25px;
}
/*tapas flex styling*/

.tapasContainer{
  margin:10px auto;
  width:90%;
  text-align: center;
}
.tapasContent{
  display:flex;
  flex-direction: column;
}
.tapasImage{
  flex: 0 0 auto;
  margin-right: 10px;
}
.tapasText{
  flex:1;
}
.tapasImage img{
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:15px;
}
.tapasText p{
  font-size:18px;
}
.h4{
  font-size: 25px;
}
/*wine flex styling*/

.wineContainer{
  margin:10px auto;
  width:90%;
  text-align: center;
}
.wineContent{
  display:flex;
  flex-direction: column;
}
.wineImage{
  flex: 0 0 auto;
  margin-right: 10px;
}
.wineText{
  flex:1;
}
.wineImage img{
  width:450px;
  height:300px;
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-bottom:15px;
}
.wineText p{
  font-size: 18px;
}
.h4{
  font-size: 25px;
}
/* see&do gallery*/

.galleryContainer{
  padding: 40px 5%;
  background-color: rgb(0, 0, 0);
}

.ul{
  list-style-type: none;
}
.imagegallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  
}
.imagegallery > li{
  flex-basis: 350px; 
  position: relative;
  cursor: pointer;
}
.imagegallery::after{
  flex-basis: 350px;
}
.imagegallery li img{
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagegallery li:hover .overlay {
  transform: scale(1);
}


/*taste gallery */


/*footer styling*/

.footer{ 
  display:flex;
  background-image: url(../images/footerimage.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode:normal;
  justify-content:space-evenly;
  color:white;
  flex-direction: row;
  padding:10px;
}
.footer h4{
  font-size:22px;
}

.contactText{
  list-style-type:initial;
  font-size: 18px;
  color:white;
  margin:0;
  padding:0;
}
.followText {
  color:white;
  margin:0;
}
.followUs{
  margin-top:50px;
  padding:10px;
}
.footer i{
  color:white;
  margin:10px 10px;
}

/*contact page styling*/



.message-box{
  width:500px;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color: white;
}
form{
  margin:35px;
}
.inputGroup{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin:auto;

}
.input-field{
  width:300px;
  height:40px;
  margin-top:20px;
  padding-left:10px;
  padding-right:10px;
  border: 2px solid black;
  border-radius:14px;
  outline:none;
}

.textarea-field{
  height:150px;
  padding-top:10px;
}
.btn{
  border-radius: 20px;
  margin-top: 18px;
  padding:10px;
  font-size: 12px;
  border:none;
  cursor:pointer;
  background-color:rgb(180, 213, 235);
  align-items: center;
  justify-content: center;
}




/*media queries*/
/*for screens 800px and down*/


@media screen and (max-width: 800px) {
  .contactText{
    font-size:14px;
  }
  .footer h4{
    font-size:20px;
  }
  
  @media screen and (max-width:600px) {
.contactText{
  font-size:12px;
}
.footer h4{
  font-size:18px
}

 @media screen and (max-width:500px)
{
.imgHeader{
  display:none;
}
.seeHeader{
  display:none;
}
.tasteHeader{
  display:none;
}
.contactHeader{
  display:none;
}
.navbar ul{
  top:0;
  left:0;
  height:20vh;
  width:100%;
  max-width:400px;
  padding:40px 0;
  display:block;
  text-align:center;
  justify-content: flex-start;
  border-top:20px;
  margin-left:40px;
  text-overflow: inherit;
 
}
navbar li{
  justify-content: space-evenly;
  margin-top:15px;
}

 }
 .contactText{
  font-size:10px;
 }
 .footer h4{
  font-size:16px;
 }
 .alfamaContainer{
  margin:15px;
 }
 .bairroContainer{
  margin:15px;
 }
 .belemContainer{
  margin:15px;
 }
 .baixaContainer{
  margin:15px;
 }
 .chiadoContainer{
  margin:15px;
 }
.benContainer{
  margin:15px;
}
.fadoContainer{
  margin:15px;
}
.belemContainer{
  margin:15px;
}
.jerContainer{
  margin:15px;
}
.gloriaContainer{
  margin:15px;
}
.pasteisContainer{
  margin:15px;
}
.timeContainer{
  margin:15px;
}
.mercadoContainer{
  margin:15px;
}
.tapasContainer{
  margin:15px;
}
.wineContainer{
  margin:15px;
}

@media screen and (max-width: 470px){


.navbar li{
  justify-content: start;
}
.mediaOne p{
  font-size: 12px;
}
.mediaTwo img{
  max-width: 100%;
  margin:15px;
}

